# Virtual environments
.venv/
venv/
env/

# Environment variables
.env

# Python cache
__pycache__/
*.py[cod]

# Testing
.pytest_cache/

# VS Code
.vscode/

# Streamlit secrets
.streamlit/secrets.toml
